<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>

<!--<tr th:each="news:${allNews}">
    <td th:text="${news.getTitle()}"></td>
    <td th:text="${news.getUrl()}"></td>
    <p>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>

</tr>-->
<div class="container">
    <div class="row" th:each="news:${allNews}">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" th:text="${news.getTitle()}"></h5>
                    <p class="card-text" th:text="${news.getUrl()}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- Button trigger modal for Edit CAR -->

                    <button type="button" class="btn btn-warning" data-toggle="modal"
                            th:attr="data-target='#editNews'+${news.getId()}">
                        Edit
                    </button>

                    <div class="modal fade" th:id="editNews+${news.getId()}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit Car</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/edit-news}" method="post" th:object="${editNews}">
                                       <p>tile:<input th:type="text" th:field="*{title}"
                                                        th:placeholder="${news.getTitle()}"></p>
                                        <p th:text="${news.getTitle()}"></p>
                                        <input type="hidden" th:value="${news.getId()}" name="id"/>
                                </div>
                                <div class="modal-footer">
                                    <p><input class="btn btn-success" th:type="submit" th:value="Save"></p>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                    </button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>